
.hero-section {
    height: 90vh;
    background-image: url(images.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    margin: 20px;
}


.hero-title {
    letter-spacing: 2px;
    font-weight: 800;
    text-shadow: 0px 2px 10px rgba(0,0,0,0.4);
}


.filter-box {
    max-width: 900px;
    margin: auto;
    border-radius: 20px;
}


.nav-link:hover {
    color: #000;
    font-weight: 600;
    transition: 0.3s ease;
}
